<!--<div class="container-fluid pl-0" >
    <div class="row flex-nowrap">
        <div class="col-auto col-md-2 col-xl-2 px-0">
            <side-bar></side-bar>
        </div>
        <div class="col px-0  bg-col">
            <nav-bar></nav-bar>
            <list-project-component></list-project-component>
        </div>
    </div>
</div>-->
<div id="wrapper">
    <side-bar></side-bar>
    <div class="mb-3" id="content-wrapper" class="d-flex flex-column">
        <nav-bar></nav-bar>
        <list-project-component></list-project-component>
    </div>
</div>
    

