<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion">
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
    <div class="sidebar-brand-icon rotate-n-15">
        <i class="fas fa-laugh-wink"></i>
    </div>
    <div class="mx-3">Admin Project </div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
      <a class="nav-link" href="/home">
          <span><i class="fs-5 bi bi-house-door-fill"></i>
          Inicio</span></a>
  </li>

  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
      <a class="nav-link" href="/home">
          <span><i class="fs-5 bi bi-person-circle"></i>
         Perfil</span></a>
  </li>
  <li class="nav-item active">
      <a class="nav-link" href="/home">
          <span><i class="fs-5 bi bi-gear-fill"></i>
          Configuración</span></a>
  </li>

</ul>

