:root {
    --login-bg: #ffffff;
    --title-bg: #54a0ab;
    --button-bg: #4b71af;
    --light-pink: #82bbe8;
    --image-bg: #9fc1d3e6;
}

html, body {  
    margin:0px;  
    height:100%; 
    display: initial; 
}  

body {
    background-image: radial-gradient(circle at 50% -20.71%, #feffff 0, #efffff 12.5%, #ddfffd 25%, #cafbf7 37.5%, #b5f2f2 50%, #9fe9ee 62.5%, #8ae1ec 75%, #76d9eb 87.5%, #62d1eb 100%);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

